@import url(elements/fonts.css);
@import url(elements/variation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--color-site-3);
    list-style: none;
}

body {
    background-color: var(--color-site-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* 15:00 */
header {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-site-2);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.contador {
    width: 100vw;
}

.contador p {
    color: var(--color-site-1);
}

/* SEC 1*/

#home {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 4%;
}

.title {
    letter-spacing: 1px;
}

.title span {
    color: var(--color-site-2);
}

img {
    width: 30vh;
}

.subtitle p {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

.beneficios1 {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    background-color: var(--color-site-2);
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
    box-shadow: 0px 0px 20px 1px var(--color-site-3);
}

.beneficios1 li {
    color: var(--color-site-1);
}

a {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: var(--color-site-1);
    text-decoration: none;
    background-color: #8CC63E;
    padding: 15px;
    box-shadow: 0px 0px 9px var(--color-site-4);
    border-radius: 50px;
    margin-top: 3rem;
    transition: all ease-in-out .5s;

    &:hover {
        transform: scale(1.2);
    }
}

/* SEC 2 */

#comparison {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 4%;
}

.title2 {
    letter-spacing: 1px;
}

.title2 h2 span {
    background-color: var(--color-site-5);
}

.reflexion {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 0 40px;
}

.comparison1 p {
    color: var(--color-site-1);
    padding-bottom: 10px;
    text-align: center;
}

.comparison1 {
    background-color: var(--color-site-2);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

.comparison2 p {
    color: var(--color-site-1);
    padding-bottom: 10px;
    text-align: center;
}

.comparison2 {
    background-color: #8CC63E;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin: 30px auto 0 auto;
    text-align: left;
}

/* SEC 3 */

#presentation {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 4%;
}

.title3 h2 {
    letter-spacing: 1px;
}

.title3 span {
    color: var(--color-site-2);
}

.materials {
    background-color: #8CC63E;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.materials ul {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: left;
}

.materials li {
    color: var(--color-site-1);
}

.booksImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    background-color: #8CC63E;
    padding: 20px;
    border-radius: 10px;
}

.booksImgs .exemples img {
    width: 100vh;
    max-width: 150px;
}

.bonus-title {
    margin-top: 40px;
}

.bonus-title h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.bonus-title span {
    color: var(--color-site-2);
    font-size: 1.2rem;
}

.bonus {
    margin-top: 40px;
}

.bonus p {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.bonus span {
    font-size: 1.5rem;
    color: var(--color-site-2);
}

/* SEC 4 */

#pizza-family {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 4%;
}

.title4 {
    letter-spacing: 1px;
}

.title4 span {
    color: var(--color-site-2);
}

.reflexion2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin-top: 40px;
    background-color: var(--color-site-5);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px var(--color-site-3);
}

.reflexion2 p {
    font-size: 1.5rem;
    color: #2C2C2C;
}

.moments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moments .moment-card img {
    width: 100vh;
    max-width: 150px;
}

.moment-card {
    margin-top: 40px;
}

.value-moment h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--color-site-2);
}

.value-moment h3 span {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #8CC63E;
}

/* SEC 5 */

#checkout {
    font-family: "Roboto", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 4%;
}

#checkout h2 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.value {
    background-color: #8CC63E;
    border-radius: 30px;
    padding: 20px;
}

.content-checkout h3 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.content-checkout h3 span {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--color-site-2);
    text-decoration: line-through;
}

.content-checkout p span{
     color: var(--color-site-1);
}

.content-checkout p{
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--color-site-1);
}

.checkout-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-redirect a {
    font-family: "roboto", sans-serif;
    font-weight: 800;
    color: var(--color-site-3);
    text-decoration: none;
    background-color: var(--color-site-5);
    padding: 15px 3rem;
    box-shadow: 0px 0px 9px var(--color-site-4);
    border-radius: 50px;
    margin-top: 3rem;
    transition: all ease-in-out .5s;
    box-shadow: 0px 2px 10px var(--color-site-3);

    &:hover {
        transform: scale(1.2);
    }
}